<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="OfficeHelper" type="Jo.OfficeHelper.DTO.OfficeHelperConfigDTO, Jo.OfficeHelper" />
  </configSections>
  <OfficeHelper>
    <ConfigUpdaterConfig>
      <add Name="123" MatchingText="123" MatchingRegex="123" ConfigFilePath="123" ReplaceText="321" ReplaceJavaScriptContent="123"></add>
      <add Name="321"  ConfigFilePath="123" ReplaceText="321" ReplaceJavaScriptContent="123"></add>
    </ConfigUpdaterConfig>
  </OfficeHelper>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
