<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="OfficeHelper" type="Jo.OfficeHelper.DTO.OfficeHelperConfigDTO, Jo.OfficeHelper" />
  </configSections>
  <OfficeHelper>
    <ConfigUpdaterConfig>
      <add Name="TestUpdate1" MatchingText="123" ConfigFilePath="d:\log2.txt" ReplaceText="321"></add>
      <add Name="TestUpdate2" MatchingRegex="(\d)+" ConfigFilePath="d:\log.txt"  ReplaceJavaScriptContent="(new Date()).getFullYear()"></add>
      <add Name="TestUpdate3" MatchingText="123" ConfigFilePath="d:\log2.txt" ReplaceJavaScriptContent="function testFunc(str){ return str+(new Date()).getFullYear();} testFunc('hello world')" RestartProcessName="notepad"></add>
      <add Name="TestUpdate4" MatchingText="123" ConfigFilePath="d:\log2.txt" ReplaceText="321" RestartServiceName="asComSvc"></add>
    </ConfigUpdaterConfig>
  </OfficeHelper>
  <appSettings>
    <add key="ComputerName" value="Your Computer Name Without \\" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
